#contact {
  .add-container-contact {
    background-size: cover;
    background-position: center;
    background-image: url('./../images/contact-top-bg.jpeg');
    .jumbotron {
      background: none;
      .display-4 {
        color: $white-smoke;
      }
    }
  }
}