//fonts
$font-roboto :'Roboto',
sans-serif;
//colors
$white-smoke: whitesmoke;
$cream: #e9dccd;
$poppy: #ff420e;
$stem: #80bd9e;
$green-spring: #89da59;
$dark: #2d3436;
$dark-medium: #636e72;
$orangeville: #e17055;
$blue: #11998e;
$red: #d63031;
$mint: #00b894;
$nav-top: #edd9c0;
$gray: #e8edf3;
$red-meat: #ff6347;
$green-vegan: #89da59;
$blue-vegetarian: #11998e;
$muted: #6c757d;
//shadow
$shadow-small: 0 0 20px 0 rgba(0, 0, 0, 0.2),
0 5px 5px 0 rgba(0, 0, 0, 0.24);